{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 class="title">
        <a href="{% url 'home' %}">Конвертер валют</a>
    </h1>
    <form action="{% url 'home' %}" method="POST">
        {% csrf_token %}
        <div class="row">
            {% for f in form %}
            {{ f }}
            {% endfor %}
        </div>
        <button type="submit">Посчитать</button>
    </form>
    {% if result %}
    <p class="result">{{ result|floatformat:"2g" }} {{ currency }}</p>
    {% endif %}
</div>

{% endblock %}